<div ng-controller='adminCtrl'>
  <h2 class="adminTitle"><i class="fa fa-lock" aria-hidden="true"></i>Admin Dashboard </h2>
  <md-list flex-gt-sm="50" id="admin-user-list">
    <md-list-item ng-repeat="user in users">
      <div class="adminBar">
      <img class="card-avatar adminImg" src="{{user.avatarUrl}}">
      <div class="adminName"> <a> @{{user.username}} </a> </div>
      <div class="adminRank"> <a> Account Rank: {{user.accountRank}}</a> </div>
      <div class="toggleMod"> <md-button
        class="md-raised md-primary toggleModButton"
        ng-disabled="USER.accountRank !== 2 || user.accountRank === 2"
        ng-click="changeAccountRank(user); user.accountRank = +(!user.accountRank);" >
      Toggle Mod
      </md-button></div>
      </div>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>
</div>
