.md-toolbar-tools h1.logo {
  color: #333;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0px;
}

.login-avatar-img {
  width: 40px;
  height: 40px;
  padding: 3px;
  border-radius: 30px;
  float: left;
}

md-card.card-wrapper.ng-scope._md.md-default-theme {
  display: inline-table;
  width: 95%;
  margin: 0 0 1rem 1rem;
}

.card-image {
  display: inline-block;
  float: left;
  width: 250px;
  height: 200px;
  margin: .5rem 1rem .5rem .5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  font-size: 100px;
}

.card-content {
/*  display: inline-block;
*/
  width: auto;
  height: 200px;
  padding: 0 .5rem;
}
.card-sbar {
/*  display: inline-block;
*/  margin-left: 20px;
  width: auto;
  /*height: 200px;*/
}

.card-category {
  vertical-align: baseline;
  padding: .25rem .5rem;
  background-color: rgb(224,224,224);
  border-radius: 10px;
  font-size: 14px;
}

.card-avatar {
  float: left;
  margin-top: 5px;
  margin-right: 7px;
  width: 45px;
  height: 45px;
  border-radius: 30px;
}

.card-post-data {
  float: right;
  margin-top: 20px;
  font-size: 12px;
}

md-card-footer {
  padding: 0;
}

md-sidenav.md-locked-open,
md-sidenav.md-locked-open-add,
md-sidenav.md-locked-open-remove,
md-sidenav.md-locked-open-remove.md-closed,
md-sidenav.md-locked-open.md-closed,
md-sidenav.md-locked-open.md-closed.md-sidenav-left,
md-sidenav.md-locked-open.md-closed.md-sidenav-right {
  margin-right: 1rem;
}

md-sidenav button.md-button {
  width: 100%;
  text-align: left;
}

md-progress-linear {
  margin: .5rem 0;
}

@media only screen and (max-width: 860px) {

  header md-toolbar .md-toolbar-tools {
    height: auto;
    max-height: none;
    padding: 15px;
  }

  header .md-button {
    margin-bottom: 10px;
  }

}

@media only screen and (max-width: 1024px) {

}
.socialbtn {
  background-color: #F9FCFE;
  padding: 10px;
  margin: 6px;
  min-width: 15px;
}

.socialbtn:hover {
  cursor: pointer;
}

.fa-camera-retro {
  margin-top: 50px;
}

.loginLink {
  text-decoration: none;
  font-weight: 600;
}

.loginLink:hover {
  color:rgb(121, 134, 203);
}

.fa-minus {
  positive: relative;
  float: left;
  margin-top: 15px;
  color: grey;
}

.fa-plus {
  positive: relative;
  float: right;
  margin-top: 15px;
  color: grey;
}

.slider {
  position: relative;
  float: none;
  width: 85%;
  display: inline-flex;
  padding-left: 20px;
}

.voteSlider{
  width: 95%;
  margin-left: 11px;
}
