<md-button
  ng-click="downVote()"
  ng-disabled="flagVariable"
  class="md-raised"
>
<i class="fa fa-thumbs-down" aria-hidden="true"></i>
{{dvote}}
<!-- Vote: {{resource.Likes.length}} -->
</md-button>
<md-button
  ng-click="upVote()"
  ng-disabled="flagVariable"
  class="md-raised"
>
<i class="fa fa-thumbs-up" aria-hidden="true"></i>
{{vote}}
<!-- Vote: {{resource.Likes.length}} -->
</md-button>

<div class="voteSlider">
<i class="fa fa-minus" aria-hidden="true"></i>
<md-progress-linear md-mode="determinate" value="{{positivityPercentage}}" ng-disabled>
</md-progress-linear>
<i class="fa fa-plus" aria-hidden="true"></i>
</div>
