<md-button
  ng-click="downVote()"
  ng-disabled="flagVariable"
  class="md-raised"
>
<i class="fa fa-thumbs-down" aria-hidden="true"></i>
{{dvote}}
<!-- Vote: {{resource.Likes.length}} -->
</md-button>
<md-button
  ng-click="upVote()"
  ng-disabled="flagVariable"
  class="md-raised"
>
<i class="fa fa-thumbs-up" aria-hidden="true"></i>
{{vote}}
<!-- Vote: {{resource.Likes.length}} -->
</md-button>


<md-progress-linear md-mode="determinate" value="{{positivityPercentage}}" ng-disabled ng-class="+{{positivityPercentage}} > +50 ? 'positive' : 'not-so-positive'">
</md-slider>
